<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zfun.lib">

    <application android:allowBackup="true">
        <!--android:supportsRtl="true"--> <!--标签加上这个属性让我找了四个小时，编译时老是报
        duplicate entry:android/support/annotation/IntegerRes.class  这个错， 因为我的
        minSdkVersion 是9  而这个属性需要 minSdkVersion 17 -->

    </application>

</manifest>
