<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zfun.sharelib">
    <queries>
        <package android:name="com.tencent.mobileqq"/>
        <package android:name="com.tencent.tim"/>
        <package android:name="com.tencent.qqlite"/>
        <package android:name="com.tencent.mm"/>
    </queries>
    <application>

    </application>

</manifest>